* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Righteous', cursive;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1280px;
}

p {
  line-height: 30px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
}
